<template>
  <b-container>
    <b-card>
      <h1>Quiz Platform</h1>
      <b-form @submit="onSubmit">
        <b-form-group :key="index" label="Add Questions 1 by 1:" label-for="input-1"
          v-for="(question, index) in questions">
          <b-form-input
            v-model="question.desc"
            :key="index"
            type="text"
            placeholder="Enter question"
          ></b-form-input>
          <b-form-input
            :key="`${index} - ${index2}`"
            type="text"
            v-model="questionItem.desc"
            placeholder="option"
            v-for="(questionItem, index2) in question.options"
          ></b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Save</b-button>
      </b-form>
    </b-card>
  </b-container>
</template>
<script>
export default {
  name: "quiz",
  data() {
    return {
      questions: [
        {
          desc: "",
          options: [
            {
              desc: ""
            },
            {
              desc: ""
            },
            {
              desc: ""
            },
            {
              desc: ""
            }
          ]
        }
      ]      
    };
  },
  methods: {
    /**
    /*
    /* Method to save questions
    /*
    **/
    onSubmit(evt) {
      evt.preventDefault();
      let quesArr = [];
      if(localStorage.hasOwnProperty('questions')) {        
        quesArr = JSON.parse(localStorage.getItem('questions'));
      }    
      quesArr.push(this.questions);
      localStorage.setItem('questions', JSON.stringify(quesArr));
      this.questions[0].desc = '';
      this.questions[0].options[0].desc = '';
      this.questions[0].options[1].desc = '';
      this.questions[0].options[2].desc = '';
      this.questions[0].options[3].desc = '';
    }
  }
};
</script>
