<template>
  <b-container>
    <b-card>
      <h1>Questions List</h1>
      <div>
      <b-form @submit="onSubmit" v-if="show">
        <b-form-group :key="index" label="Questions:" label-for="input-1"
          v-for="(question, index) in dataToUpdate">
          <b-form-input
            v-model="question.desc"
            :key="index"
            type="text"
            placeholder="Enter question"
          ></b-form-input>
          <b-form-input
            :key="`${index} - ${index2}`"
            type="text"
            v-model="questionItem.desc"
            placeholder="option"
            v-for="(questionItem, index2) in question.options"
          ></b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Update</b-button>
      </b-form>
	    <b-list-group :key="index" v-for="(item, index) in items">
		  <b-list-group-item >{{item[0].desc}} ==============>  <a @click="UpdateQuestion(index)">Update</a> | <a @click="deleteQuestion(index)">Delete</a></b-list-group-item>  

		</b-list-group>
		<b-list-group v-if="items.length < 1"> 
		  <b-list-group-item >No Record Found</b-list-group-item>
		</b-list-group>
	  </div>
    </b-card>
  </b-container>
</template>
<script>
export default {
  name: "quizlist",
  data() {
    return {
      items: [],
      show: false,
      dataToUpdate: [],
      currentIndex: 0
    };
  },
  methods: {
  	/**
    /*
    /* Method to delete questions
    /*
    **/
  	deleteQuestion(index) {
      this.items.splice(index, 1);
      localStorage.setItem('questions', JSON.stringify(this.items));
  	},
  	/**
    /*
    /* Method to show question that needs updation
    /*
    **/
  	UpdateQuestion(index) {
  		this.show = true;
  		this.dataToUpdate = this.items[index];
  		this.currentIndex = index;
  	},

  	/**
    /*
    /* Method to update question
    /*
    **/
  	onSubmit(evt) {
      evt.preventDefault();
      let quesArr = [];
      if(localStorage.hasOwnProperty('questions')) {        
        quesArr = JSON.parse(localStorage.getItem('questions'));
        quesArr[this.currentIndex] = this.dataToUpdate;        
      }          
      localStorage.setItem('questions', JSON.stringify(quesArr));
      this.items = JSON.parse(localStorage.getItem('questions'));
      this.show = false;
    }
  },
  created() {
  	this.items = JSON.parse(localStorage.getItem('questions'));
  }
};
</script>
